<%- include('partials/header') %>

<header>
  <div class="smoothie">
    <img src="/img/ATT logo.png" alt="att">
  </div>
  <div class="headings">
    <h2 style="color: #FEE996;">ARAKAN <span style="color: #14a676;">TECHINICIAN TEAM</span></h2>
    <h3>By Arakan Army</h3>
    <a href="/teams" class="btn">View ATT Teams</a>
  </div>
</header>


<%- include('partials/footer') %>