<%- include('partials/header') %>

<ul class="recipes">
  <li class="recipe">
    <img src="/img/smoothie.png" alt="nodejs">
    <h4>NodeJS Team</h4>
    <p>Node.js® is an open-source, cross-platform JavaScript runtime environment.</p>
  </li>
  <li class="recipe">
    <img src="/img/smoothie.png" alt="python">
    <h4>Python Team</h4>
    <p>Python is a programming language that lets you work quickly
      and integrate systems more effectively.</p>
  </li>
  <li class="recipe">
    <img src="/img/smoothie.png" alt="reactjs">
    <h4>ReactJS Team</h4>
    <p>React is a JavaScript library for building user interfaces.</p>
  </li>
  <li class="recipe">
    <img src="/img/smoothie.png" alt="c#">
    <h4>C# Team</h4>
    <p>C# is the most popular language for .NET development.</p>
  </li>
  <li class="recipe">
    <img src="/img/smoothie.png" alt="arduino">
    <h4>Arduino Team</h4>
    <p>Browse through hundreds of tutorials, datasheets, guides and other
      technical documentation to learn everything about your Arduino products.</p>
  </li>
  <li class="recipe">
    <img src="/img/smoothie.png" alt="flutter">
    <h4>Flutter Team</h4>
    <p>Android Studio guide Developers guides API reference Download Studio Android NDK Support.</p>
  </li>
</ul>

<%- include('partials/footer') -%>